.alert {
	width: 60%;

	position: absolute;

	top: 0;
	right: 0;
	left: 0;

	margin: 2% auto;

	padding: 20px;

	background-color: #f44336;

	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);

	color: white;

	font-size: 14px;

	opacity: 0.9;

	transition: opacity 0.6s;

	z-index: 100;

	border-radius: 2px;
}


.close-alert {
	margin-left: 15px;

	float: right;

	line-height: 20px;
	
	color: white;
	font-size: 22px;
	font-weight: bold;
	
	cursor: pointer;

	transition: 0.4s;
}

.close-alert:hover {
	transform: rotate(360deg);

	color: rgba(24, 24, 24, 0.9);
}

.alert.success { background-color: rgb(108, 188, 16); }
.alert.error { background-color: rgb(255, 63, 0); }
.alert.info { background-color: rgb(114, 205, 255); }